[Unit]
Description=Obscura VPN
DefaultDependencies=no
After=local-fs.target systemd-sysusers.service
Before=network-pre.target shutdown.target
Wants=network-pre.target
Conflicts=shutdown.target
StartLimitIntervalSec=0

[Service]
Type=notify
TimeoutStartSec=infinity
ExecStart=/usr/bin/obscura service
FileDescriptorStoreMax=8
Group=obscura
UMask=0007
StateDirectory=obscura
StateDirectoryMode=0750
RuntimeDirectory=obscura
RuntimeDirectoryMode=0750
RuntimeDirectoryPreserve=restart
LogsDirectory=obscura
LogsDirectoryMode=0750
Restart=always
RestartSec=1
RestartSteps=5
RestartMaxDelaySec=30

[Install]
WantedBy=multi-user.target
