#!/usr/bin/make -f
%:
	dh $@

override_dh_auto_install:
	install -Dm755 obscura debian/obscura-cli/usr/bin/obscura
	install -Dm644 /repo/linux/common/obscura.service debian/obscura-cli/usr/lib/systemd/system/obscura.service
	install -Dm644 /repo/linux/common/obscura-preset.conf debian/obscura-cli/usr/lib/systemd/system-preset/80-obscura.preset
	install -Dm755 obscura-gui debian/obscura-gui/usr/bin/obscura-gui
	install -Dm644 /repo/linux/common/net.obscura.vpn.gui.desktop debian/obscura-gui/usr/share/applications/net.obscura.vpn.gui.desktop
	install -Dm644 /repo/linux/common/net.obscura.vpn.gui.metainfo.xml debian/obscura-gui/usr/share/metainfo/net.obscura.vpn.gui.metainfo.xml
	install -Dm644 /repo/linux/common/icons/64x64/net.obscura.vpn.gui.png debian/obscura-gui/usr/share/icons/hicolor/64x64/apps/net.obscura.vpn.gui.png
	install -Dm644 /repo/linux/common/icons/128x128/net.obscura.vpn.gui.png debian/obscura-gui/usr/share/icons/hicolor/128x128/apps/net.obscura.vpn.gui.png
	install -Dm644 /repo/linux/common/icons/256x256/net.obscura.vpn.gui.png debian/obscura-gui/usr/share/icons/hicolor/256x256/apps/net.obscura.vpn.gui.png
	install -Dm644 /repo/linux/deb/apparmor/obscura-gui debian/obscura-gui/etc/apparmor.d/obscura-gui
	install -Dm644 obscura-archive-keyring.gpg debian/obscura-repository/usr/share/keyrings/obscura-archive-keyring.gpg
	install -Dm644 obscura.sources debian/obscura-repository/etc/apt/sources.list.d/obscura.sources

override_dh_install:
	dh_apparmor --profile-name=obscura-gui -pobscura-gui

override_dh_installsysusers:
	dh_installsysusers -pobscura-cli

override_dh_installsystemd:
	dh_installsystemd -pobscura-cli
